.cool-input {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  border: 1px solid rgb(207, 18, 18); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 10px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  border: 1px solid rgb(207, 18, 18); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 10px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  border: 1px solid rgb(207, 18, 18); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 10px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
button[type=button] {
  background-color: rgb(207, 18, 18);
  color: rgb(8, 0, 0);
  text-shadow: 4px 4px 5px #d32323;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

/* When moving the mouse over the submit button, add a darker green color */
button[type=button] {
  background-color: rgb(160, 10, 10);
  font-size: 1.5rem;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #050000;
  width: 50%;
  margin-left : 25%
}
h1{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 4rem;
    padding: 10px;
    text-shadow: 4px 4px 5px #d32323;
}
img {
  width: 170px;
  height: 400px;
  object-fit: cover;
  padding: 4px;
}
p{
    font-family: URW Chancery L, cursive;
    text-align: center;
    font-size: 1.9rem;
}